In [1]:
import pandas as pd

df = pd.read_csv("../src/recipesDB/RAW_recipes.csv")
df.head(1)

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7

In [2]:
df["steps"][0]

"['make a choice and proceed with recipe', 'depending on size of squash , cut into half or fourths', 'remove seeds', 'for spicy squash , drizzle olive oil or melted butter over each cut squash piece', 'season with mexican seasoning mix ii', 'for sweet squash , drizzle melted honey , butter , grated piloncillo over each cut squash piece', 'season with sweet mexican spice mix', 'bake at 350 degrees , again depending on size , for 40 minutes up to an hour , until a fork can easily pierce the skin', 'be careful not to burn the squash especially if you opt to use sugar or butter', 'if you feel more comfortable , cover the squash with aluminum foil the first half hour , give or take , of baking', 'if desired , season with salt']"

In [3]:
df[['calories','total fat (PDV)','sugar (PDV)','sodium (PDV)','protein (PDV)','saturated fat (PDV)','carbohydrates (PDV)']] = df.nutrition.str.split(",",expand=True) 
df['calories'] =  df['calories'].apply(lambda x: x.replace('[','')) 
df['carbohydrates (PDV)'] =  df['carbohydrates (PDV)'].apply(lambda x: x.replace(']','')) 
df[['calories','total fat (PDV)','sugar (PDV)','sodium (PDV)','protein (PDV)','saturated fat (PDV)','carbohydrates (PDV)']] = df[['calories','total fat (PDV)','sugar (PDV)','sodium (PDV)','protein (PDV)','saturated fat (PDV)','carbohydrates (PDV)']].astype('float')
df.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients,calories,total fat (PDV),sugar (PDV),sodium (PDV),protein (PDV),saturated fat (PDV),carbohydrates (PDV)
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7,51.5,0.0,13.0,0.0,2.0,0.0,4.0
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6,173.4,18.0,0.0,17.0,22.0,35.0,1.0
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13,269.8,22.0,32.0,48.0,39.0,27.0,5.0
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11,368.1,17.0,10.0,2.0,14.0,8.0,20.0
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8,352.9,1.0,337.0,23.0,3.0,0.0,28.0

Creation de la matrice user/recette = notes

In [4]:
# ouverture du tableau de note des utilisateurs
# besoin du fichier "RAW_interactions.csv"

df = pd.read_csv("../src/recipesDB/RAW_interactions.csv")
grade = df[["user_id","recipe_id","rating"]]

#modifier le nombre de vote ici

n_vote_user = 50
n_vote_recipes = 50

#creation d'un dataframe permettant de choisir les utilisateurs avec plus de 50 votes

data_df = pd.DataFrame(grade['user_id'].value_counts())
final_data = data_df[(data_df["user_id"]>n_vote_user)]
index_list = final_data.index

data_df1 = pd.DataFrame(grade['recipe_id'].value_counts())
final_data1 = data_df1[(data_df1["recipe_id"]>n_vote_recipes)]
index_list1 = final_data1.index

in_index = grade[(grade["user_id"].isin(index_list) & grade["recipe_id"].isin(index_list1))]

#création de la matrice user/recette = notes
matrice = in_index.pivot(index='recipe_id', columns='user_id', values='rating')
matrice

user_id,1533,1535,1634,2310,2312,2586,3205,3288,4291,4439,...,2597942,1800054678,1802849661,2000178961,2000431901,2000498330,2001047423,2001102678,2001297534,2001362355
recipe_id,,,,,,,,,,,,,,,,,,,,,
246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN
505862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
508302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
515167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
matrice.to_csv("../src/matrice.csv")

Cosine Distance Collaborative Filtering

In [6]:
ratings = df.loc[(df['user_id'].isin(final_data.index)) & (df['recipe_id'].isin(final_data1.index))]
ratings.drop(columns = ['date', 'review'], axis=1, inplace=True)
ratings.head()

C:\Users\jules\AppData\Local\Temp\ipykernel_6372\1765937096.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings.drop(columns = ['date', 'review'], axis=1, inplace=True)

     user_id  recipe_id  rating
694     6357      98783       5
697    98063      98783       5
698   138861      98783       5
699   206722      98783       5
700    39194      98783       5

In [7]:
ratings.sort_values(by='user_id', inplace=True)
ratings.head()

C:\Users\jules\AppData\Local\Temp\ipykernel_6372\738465178.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings.sort_values(by='user_id', inplace=True)

        user_id  recipe_id  rating
913065     1533      60085       5
730397     1533      46877       5
290211     1533      27733       5
74434      1533     132916       5
270489     1535      23319       5

Getting some statistics about our final database :

In [8]:
n_ratings = len(ratings)
n_recipes = len(ratings['recipe_id'].unique())
n_users = len(ratings['user_id'].unique())
print(f"nb of unique user : {n_users}\nnb of unique recipes : {n_recipes}\nnb of ratings : {n_ratings}")

nb of unique user : 2686
nb of unique recipes : 2095
nb of ratings : 93224

In [9]:
print(f"Average ratings per user: {round(n_ratings/n_users, 2)}")
print(f"Average ratings per recipe: {round(n_ratings/n_recipes, 2)}")

Average ratings per user: 34.71
Average ratings per recipe: 44.5

In [10]:
# Find Lowest and Highest rated recipes:
mean_rating = ratings.groupby('recipe_id')[['rating']].mean()
print(f"Average ratings per recipe: {mean_rating}")
# Lowest rated recipes
lowest_rated = mean_rating['rating'].idxmin()
print(f"Lowest rated recipe id: {lowest_rated}")
# Highest rated recipes
highest_rated = mean_rating['rating'].idxmax()
print(f"Highest rated recipe id: {highest_rated}")
# show number of people who rated recipes rated recipe highest
ratings[ratings['recipe_id']==highest_rated]
print(f"Number of people who rated the highest rated recipe: {len(ratings[ratings['recipe_id']==highest_rated])}")
# show number of people who rated recipes rated recipe lowest
ratings[ratings['recipe_id']==lowest_rated]
print(f"Number of people who rated the lowest rated recipe: {len(ratings[ratings['recipe_id']==lowest_rated])}")

Average ratings per recipe:              rating
recipe_id
246        4.555556
536        4.029412
607        4.446809
632        4.206897
749        4.750000
...             ...
500210     5.000000
501408     4.500000
505862     3.250000
508302     2.000000
515167     0.000000

[2095 rows x 1 columns]
Lowest rated recipe id: 515167
Highest rated recipe id: 2677
Number of people who rated the highest rated recipe: 23
Number of people who rated the lowest rated recipe: 1

Creating the ratings matrix from users and recipes

In [11]:
from scipy.sparse import csr_matrix
import numpy as np
  
def create_matrix(df):
      
    N = len(df['user_id'].unique())
    M = len(df['recipe_id'].unique())
      
    # Map Ids to indices
    user_mapper = dict(zip(np.unique(df["user_id"]), list(range(N))))
    recipe_mapper = dict(zip(np.unique(df["recipe_id"]), list(range(M))))
      
    # Map indices to IDs
    user_inv_mapper = dict(zip(list(range(N)), np.unique(df["user_id"])))
    recipe_inv_mapper = dict(zip(list(range(M)), np.unique(df["recipe_id"])))
      
    user_index = [user_mapper[i] for i in df['user_id']]
    recipe_index = [recipe_mapper[i] for i in df['recipe_id']]
  
    X = csr_matrix((df["rating"], (recipe_index, user_index)), shape=(M, N))
      
    return X, user_mapper, recipe_mapper, user_inv_mapper, recipe_inv_mapper

X, user_mapper, recipe_mapper, user_inv_mapper, recipe_inv_mapper = create_matrix(ratings)

Find similar recipes using KNN algorithm

In [12]:
from sklearn.neighbors import NearestNeighbors

def find_similar_recipes(recipe_id, X, k, metric='cosine', show_distance=False):
      
    neighbour_ids = []
      
    recipe_ind = recipe_mapper[recipe_id]
    recipe_vec = X[recipe_ind]
    k+=1
    kNN = NearestNeighbors(n_neighbors=k, algorithm="brute", metric=metric)
    kNN.fit(X)
    recipe_vec = recipe_vec.reshape(1,-1)
    neighbour = kNN.kneighbors(recipe_vec, return_distance=show_distance)
    for i in range(0,k):
        n = neighbour.item(i)
        neighbour_ids.append(recipe_inv_mapper[n])
    neighbour_ids.pop(0)
    return neighbour_ids

Applying the function to our datas

In [13]:
recipe_id = int(input("Enter recipe id: "))

In [14]:
similar_ids = find_similar_recipes(recipe_id, X, k=10)
print(f"Similar recipes to {recipe_id} are: {similar_ids}")

Similar recipes to 98783 are: [486496, 495275, 474987, 495271, 16512, 16859, 105594, 121799, 14111, 33387]

Formalizing the results

In [15]:
recipes = pd.read_csv("../src/recipesDB/RAW_recipes.csv")
recipes.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8

In [16]:
recipe_name = recipes[recipes['id']==recipe_id]['name'].values
print(f"Since you liked {recipe_name} you might also like:\n")
for i in similar_ids:
    print(recipes[recipes['id']==i]['name'].values)
    print("\n")

Since you liked ['chocolate orange fudge'] you might also like:

['bacon lattice tomato muffins  rsc']


['peppered buffalo ranch shrimp pizza  rsc']


['breakfast shepherd s pie']


['spinach and cheese stuffed chicken breast  rsc']


['lemony rice pilaf']


['rosemary potatoes   microwave']


['mom s chocolate cupcakes']


['kinda like chick fil a sandwiches']


['caramel apple dip']


['absolutely perfect kool aid']